<button type="button"
          class="btn pull-right btn-info btn-round"
          ngbPopover="Agregar Usuario"
          triggers="mouseenter:mouseleave"
          (click)="openSm(content)">
          Agregar Usuario <i class="fas fa-user-plus px-2"></i>
</button>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Formulario de Usuario</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-primary" *ngIf="mensajeError">
      <button type="button" aria-hidden="true" class="close" (click)="limpiarError()">
        <i class="now-ui-icons ui-1_simple-remove"></i>
      </button>
      <span>{{ mensajeError }}</span>
    </div>
    <form [formGroup]="crearUsuarioFormulario">
      Nombre: <input type="text"
                     class="form-control"
                     formControlName="nombre"
                     [class.is-invalid]="crearUsuarioFormulario.get('nombre').touched && crearUsuarioFormulario.get('nombre').invalid">
      Apellido: <input type="text"
                       class="form-control"
                       formControlName="apellido"
                       [class.is-invalid]="crearUsuarioFormulario.get('apellido').touched && crearUsuarioFormulario.get('apellido').invalid">
      Correo: <input type="email" 
                     class="form-control"
                     formControlName="correo"
                     [class.is-invalid]="crearUsuarioFormulario.get('correo').touched && crearUsuarioFormulario.get('correo').invalid">
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="saveUsuario()">Guardar</button> 
  </div>
</ng-template>
